.source.js, .source.ts, .source.jsx {

  .function{
    color: #5D76B7;
    font-weight: bold;

    &.name {
      color: @code-font-color;
      font-weight: normal;
    }
  }

  .var {
    color: #5D76B7;
    font-weight: bold;
  }

  .other {

  }
.arguments {
  color: @code-font-color;
  font-weight: normal;
}

}
